body{
<<<<<<< HEAD
    /*font-family: 'Roboto', sans-serif;*/
=======
>>>>>>> 0f5d0c01aaa8b645261303556648ee36b40cead2
    font-family: 'Muli', sans-serif;
}
/*grid 960px*/
.line{
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}
.column{
    padding: 0 10px;
    float: left;
}
.col1{
    width: 60;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}
.main{
    position: absolute;
    bottom: 10px;
    width: 55%;
}
.aux{
    height: 36%;
}
#estabelecimento{
    width: 240px;
    background: white;
}
a{
    text-decoration : none;
}
input[type="submit"]{
    padding: auto;
    text-decoration: none;
}
#submit{
    font-family: 'Muli', sans-serif;
    background: transparent;
    border: transparent;
    font-size: 32px;
}
p #submit a{
    font-family: 'Muli', sans-serif;
    font-color: black;
}
